{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Shop</title>
    
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">ESHOP</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                          </li>
                          <li class="nav-item">
                            {% comment %} <a id="cart" class="nav-link" href="#">Cart(0)</a> {% endcomment %}
                            <button id="cart" data-bs-html="true" type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="dd">
                                Cart(0)
                            </button>
                          </li>
                         
                        </ul>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form class="card card-ms">
                    <div class="card-body row no-gytter align-items-center">
                        <div class="col">
                            <input type="search" name="item_name" class="form-control" placeholder="Search for products">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            {% for product in product_objects %}
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{product.image}}" class="card-img-top product-image">
                        <div class="card-body">
                            <div id="nm{{product.id }}" class="card-title">{{product.title }}</div>
                            <div id="price{{product.id }}" class="card-text">{{product.price }} </div>

                            <a href="/{{ product.id }}" class="btn btn-warning">View</a>
                            <button id="{{product.id}}" class="btn atc btn-warning">Add to cart</button>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{product_objects.previous_page_number}}">Previous</a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{product_objects.number}}">Current</a>
                    </li>

                    {% if product_objects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{product_objects.next_page_number}}">Next</a>
                        </li>
                    {% endif %}


                </ul>
            </div>
        </div>

    </div>
</body>

<script type="text/javascript">
    if(localStorage.getItem('cart') == null){
        var cart = {};
        //localStorage.setItem('cart', JSON.stringify(cart));
    }
    else{
        var cart = JSON.parse(localStorage.getItem('cart'));
    }

    $(document).on('click', '.atc', function(){
        console.log("The add to cart button is clicked");
        var item_id = this.id.toString();
        console.log(item_id);

        if(cart[item_id] != undefined){
            quantity = cart[item_id][0] + 1;
            cart[item_id][0] = quantity;
            cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById("price" + item_id).innerHTML);

        }
        else{
            quantity = 1;
            price = parseFloat(document.getElementById("price" + item_id).innerHTML);
            name = document.getElementById("nm"+item_id).innerHTML;
            cart[item_id]= [quantity, name, price];

            
        }
        console.log(cart);
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById("cart").innerHTML = "Cart("+ Object.keys(cart).length + ")";
    });

    //$(function () {
        //$('[data-bs-toggle="popover"]').popover();
        //document.getElementById('cart').setAttribute('data-content', '<h5>This is your cart</h5>');

       //DisplayCart(cart);
    //});

    DisplayCart(cart);
    function DisplayCart(){
        console.log('DisplayCart:', cart);
        var cartString = '';
        cartString += '<h5>This is your cart</h5>';
        var cartIndex = 1;
        for(var x in cart){
            console.log('x:', x);
            cartString += cartIndex;
            if(document.getElementById("nm" + x) !== null){
                console.log('nm:', document.getElementById("nm" + x).innerHTML);
                cartString += document.getElementById("nm" + x).innerHTML + "Qty:" + cart[x][0] + "</br>";
            }
            cartIndex +=1;
        }

        //cartString += "<a href='/checkout'><button class='btn btn-warning' id='checkout'>Checkout</button></a>";
        cartString += "<a href='/checkout' class='btn btn-warning' id='checkout'>Checkout</a>";
        console.log('cartString:', cartString);
        document.getElementById("cart").setAttribute('data-bs-content', cartString);
        //$('[data-bs-toggle="popover"]').popover();
        $(document).ready(function(){
            $('[data-bs-toggle="popover"]').popover();
        });
    }

</script>

</html>
