body {
    /* background-color: red; */
    /* font-family: verdana; */
}

.card-text {
  color: green;
  font-weight: 800;
}

.card-title {
  font-weight: 900;
}

.card-img-top {
  object-fit: cover;
  padding: 12px;
}